{% extends "bootstrap/base.html" %}
{% block content %}
<h1 class="title">
  Welcome, {{ name }}!!!
</h1>
    <a href="{{ url_for('task.create_task') }}">
        <h1>New Task</h1>
    </a>
    {% for task in tasks.items %}
        <div class="container">
            <h2><a href="{{ url_for('task.view_task', task_id=task.id) }}">{{ task.title }}</a></h2>
            <h3>{{ task.start_time }}</h3>
            <h3> {{ task.end_time }}</h3>
            <p>{{ task.content }}</p>
        </div>
    {% endfor %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <div >{{ message }}</div>
                 {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <a href="{{ url_for('auth.logout') }}">
        <h1>Logout</h1>
    </a>
    {% for page_num in tasks.iter_pages() %}
        {% if page_num %}
            <h1><a href="{{ url_for('auth.profile',page=page_num) }}">{{ page_num }}</a></h1>
        {% endif %}
    {% endfor %}
{% endblock %}